<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Signup page</h1>
<hr>
  <form action="/signup" method="post">
 UserName: <input type="text" name="username" ><br><br>
 Password: <input type="text" name="password" ><br><br>
 Role: <select name="role">
  <option value="user">User</option>
  <option value="admin">Admin</option>
 </select><br><br>
 <button>submit</button> <br><br> 
 <a href="/login">login</a>
 </form>
</body>
</html>











